
@font-face {
  font-family: "TypographLight";
  src: url("fonts/TYPOGRAPH PRO Light.ttf");
}

body {

  /* custom fonts */
  font-family: "TypographLight";
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Courier New';
}
